/* Remove default spacing */
body{
    margin: 0;
    padding: 0;
    background-color: #F5FBF6; /* light greenish white background */
}

/* Carousel container */
#carouselExample{
    width: 100%;
    margin: 0;
}

/* Images */
.carousel-item img{
    width: 100%;
    height: 650px;      /* Change to 550px or 700px if needed */
    object-fit: cover;  /* Fills the entire area */
}

/* Previous and Next buttons */
.carousel-control-prev,
.carousel-control-next{
    width: 8%;
}

